{% extends "maestra.html" %}
{% block titulo %}Lista de Juegos{% endblock %}
{% block contenido %}
<h3 class="is-size-3">Juegos Registrados</h3>

<a href="{{ url_for('formulario_agregar_juego') }}" class="button is-success mb-4">
    Agregar Nuevo Juego
</a>

<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Género</th>
            <th>Plataforma</th>
            <th>Precio</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for juego in juegos %}
        <tr>
            <td>{{ juego.titulo }}</td>
            <td>{{ juego.genero }}</td>
            <td>{{ juego.plataforma }}</td>
            <td>${{ juego.precio | round(2) }}</td> 

            <td>
                <a href="{{ url_for('formulario_editar_juego', id=juego.id) }}" class="button is-info is-small">
                    Editar
                </a>
            </td>
            
            <td>
                <form action="{{ url_for('eliminar_juego') }}" method="POST">
                    <input type="hidden" name="id" value="{{ juego.id }}">
                    <button class="button is-danger is-small" 
                            onclick="return confirm('¿Estás seguro de que quieres eliminar {{ juego.titulo }}?');">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if not juegos %}
    <p class="has-text-info">No hay juegos registrados en la base de datos.</p>
{% endif %}
{% endblock %}