{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2>Iniciar Sesión</h2>
    <form method="POST">
        {{ form.hidden_tag() }} 

        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username(class="input") }}
            {% for error in form.username.errors %}
                <span class="has-text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(class="input") }}
            {% for error in form.password.errors %}
                <span class="has-text-danger">{{ error }}</span>
            {% endfor %}
        </div>

       <div class="form-group">
    {{ form.remember_me() }} {{ form.remember_me.label }}
</div>

        <div class="form-group">
            {{ form.submit(class="button is-success") }}
        </div>
    </form>
    <p>¿No tienes cuenta? <a href="{{ url_for('auth.register') }}">Regístrate</a></p>
{% endblock %}